<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <style>
        h1{
            color: #e85a4f;
        }
    </style>
</head>
<body>
    <div class="page_position">
        <div class="page_setup">
            <div>
                
            </div>
            <h1>
                QR CODE GENERATOR
            </h1>
            {% with messages = get_flashed_messages() %}     
                {% if messages %}                            
                    {% for message in messages %}            
                        <p>{{message}}</p>                   
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/qrcodevalidate" method="post" class="form">
                <label for="url">URL: </label>
                <input type="text" name="url" class="outline" value="{{urlvalue}}">
                <label for="filename">Filename: </label>
                <input type="text" name="filename" class="outline" value="{{filevalue}}">
                <label for="formattype">Format: </label>
                <select name="formattype" id="formattype" class="outline" value="{{formatvalue}}">
                        {% for format in formats%}
                            <option value={{format}}>{{format}}
                        {%endfor%}
                    </optgroup>
                </select>
               <button type="submit">Submit</button>
            </form>
        </div>
    </div>  
</body>
</html>