<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code download</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Document</title>
    <style>
        h1{
            color: #e85a4f;
        }
    </style>
</head>
<body class="page">
    <div class="loader">
        <div class="ball_position">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            
        </div>
    <div>
        <span>Constucting QR Code...</span>
    </div>
    </div>
    <script>    
        window.setTimeout(function(){
          // Move to a new location or you can do something else
		window.location.href = "/qr/complete";
          }, 3000);
   
    </script>
</body>
</html>
