<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code download</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <style>
        h1{
            color: #3b945e
        }
        
    </style>
</head>
<body class="page">
        <div class="ball_position">
            <div class="ballcomp"></div>
            <div class="ballcomp"></div>
            <div class="ballcomp"></div>  
        </div>
    </div>
        <h1 class="finish">Complete!!!</h1>
    </div>
    <script>    
        window.setTimeout(function(){
		window.location.href = "/qr/download";
          }, 4000);
    </script>
</body>
</html>
