
.ball:nth-child(2){
    animation-delay: .16s;
}
.ball:nth-child(3){
    animation-delay: .32s;
}
.ball:nth-child(4){
    animation-delay: .48s;
}
.ball:nth-child(5){
    animation-delay: .64s;
}
.ball:nth-child(6){
    animation-delay: .80s;
}
@keyframes bounce{
   from{
       transform: scaleX(1.25);
   }
   to{
       transform:translateY(-50px) scaleX(1);
   }
}
body{
    background: #eae7dc;
    margin: 0;
}
.page_setup{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap:wrap;
    flex-direction:column;
    width: max-content;
    color:#e98074;
    padding: 10px;
    scale: 150%;
    margin-top: 5%;
}
.page_position{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: 10%;
}
.outline{
    border: black solid;
}
.form{
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    
}
.page{
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 150%;
    margin-top: 5%;
}
.loader{
width: 320px;
height: 25px;
display: flex;
flex-wrap: wrap;
align-items: flex-end;
justify-content: center;
}
.loader span{
font-size: 22px;
text-transform: uppercase;
color: #e85a4f;
margin:auto;
}
.ball_position{
width: 120px;
display: flex;
justify-content: space-evenly;
flex-direction:row;

}
.ball{
width: 25px;
height: 25px;
border-radius: 50%; 
background: linear-gradient(to top,#e98074 0%, lightblue 75%,lavender 100%);
margin: 88px auto;
cursor: pointer;
justify-content: center;
animation: bounce .5s alternate infinite;
}
.ballcomp{
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: linear-gradient(to top,#3b945e 0%, lightblue 75%,lavender 100%);
    margin: 88px auto;
    cursor: pointer;
    justify-content: center;
    animation: bounce .5s alternate infinite;
    }
.ballerror{
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: linear-gradient(to top,red 0%, gray 75%,purple 100%);
    margin: 88px auto;
    cursor: pointer;
    justify-content: center;
    animation: animate__slideInRight .5s alternate infinite;
    }
.title{
    display: flex;
    margin-top: 5%;
}
.finish{
    animation: ease-out .5s alternate infinite;
}
.error{
    animation: step-end .5s alternate infinite;
}
.ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.ul.topnav li {float: left;}
  
.ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.ul.topnav li a:hover:not(.active) {background-color: #111;}
  
.ul.topnav li a.active {background-color: #04AA6D;}
  
.ul.topnav li.right {float: right;}
  
@media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}