[Unit]
Description=Gunicorn instance
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/QR_Code_Generator
Environment="PATH=/home/ubuntu/QR_Code_Generator/venv/bin"
ExecStart=/home/ubuntu/QR_Code_Generator/venv/bin/gunicorn --workers 3 --bind unix:flask_app.sock -m 007 wsgi:application
[Install]
WantedBy=multi-user.target
